.header {
  position: fixed;
  top: 2rem;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 10rem;

  transition: all 0.2s linear;
  transform: translateY(0);
}

.header.out {
  transform: translateY(-100%);
  box-shadow: none;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border-radius: 6rem;

  padding: 1rem 3rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__logo-descr {
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #002c95;
}

.header-other {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header-tel {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $black;
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: max-content;

  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  color: #ffffff;

  padding: 1.4rem 2.8rem;

  background: linear-gradient(180deg, #204a86 0%, #477dc8 100%);
  border-radius: 3rem;
  border: none;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
