<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="assets/images/logo-icon.png" alt="">
                <img src="assets/images/logo-text.svg" alt="">
            </div>
            <nav class="menu">
                <ul class="menu__nav-list">
                    <li class="nav-list__item">
                        <a href="#opportunities" class="nav-list__item-link">Наши возможности</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#getting" class="nav-list__item-link">Что вы получаете</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">Партнеры</a>
                    </li>
                </ul>
            </nav>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>