<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#intro">
                    <img class="header__logo-img" src="assets/images/logo.svg" alt="">
                </a>
                <p class="header__logo-descr">Собственное производство трикотажного белья в г.Иваново</p>
            </div>
            <div class="header-other">
                <a class="header-tel" href="tel:+79261112233">
                    <span>+7 (926) 111 22 33</span>
                <svg>
                    <use href="#phone"></use>
                </svg>
            </a>
                <a class="header-link" href="#">
                    <span>Купить</span>
                    <svg>
                        <use href="#cart"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</header>